.a {
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: -100;
  opacity: 0.1;
  background: #FE08D5;
  background: -webkit-linear-gradient(#FE08D5, yellow,#00FFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FE08D5, yellow,#00FFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FE08D5, yellow,#00FFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FE08D5, yellow,#00FFFF); /* Standard syntax */
}

.rotate1{
	-webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}


.rotate2{
	-webkit-transform: rotate(115deg);
    -moz-transform: rotate(115deg);
    -ms-transform: rotate(115deg);
    -o-transform: rotate(115deg);
    transform: rotate(115deg);
}

.rotate3{
	-webkit-transform: rotate(215deg);
    -moz-transform: rotate(215deg);
    -ms-transform: rotate(215deg);
    -o-transform: rotate(215deg);
    transform: rotate(215deg);
}

.rotate4{
  -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}